body {
    background-color: #283618;
}

#container {
background-color:#bc6c25;
width: 950px;
margin:20px auto;
border:4px solid #dda15e;
padding: 2opx;
}

header {
    text-align: center;
    padding: 50px;
}

header h1 {
    color:#606c38 ;
    font-size: 3opx;
}

nav {
    text-align: center;
    border-top: 4px solid #bc6c25;
    border-bottom: 4px solid #606c38;
    padding: 20px 0;
}

nav a {
    color: blue;
    font-size: 30px;
    margin: 0 20px;
}

nav a:hover {
    color: #dda15e
text-decoration : none;
}

main img {
    display: block;
    margin: 20px;
    width: 600px;
}

footer {
    padding: 40px 0;
    text-align: center;
     border-top: 4px solid #bc6c25;
}